<html>
<head>
</head>
<body>

  <form method="POST" action="http://localhost:3000/users/addjobs">
    <label>job role </label><input type="text" id="jobrole" name="jobrole"><br><br>
    <label>experience </label><input type="text" id="experience" name="experience"><br><br>
    <label>location </label><input type="text" id="location" name="location"><br><br>
    <label>posted date </label><input type="text" id="postedDate" name="postedDate">

    <button type="submit">add</button> </br> <br>
  </form>
 


 
 </body>					
</html>
