<html>
<head>
</head>
<body>

 <p align="center"><div> <button type="button">edit</button></div> </br> </p>
 <button type="button">add</button> </br> <br>

    <table align="center">
    	<thead>
    		<tr>
    			<th>Code</th>
    			<th>Company</th>
    			<th >job role</th>
    			<th >experience</th>
    			<th >location</th>
    			<th >posted date</th>
				
    			
    		</tr>
    	</thead>
		<tbody>
    		<tr>
    			<td>null</td>
    			<td>null</td>
    			<td >null</td>
    			<td >null</td>
    			<td >null</td>
    			<td >null</td>
   
    		</tr>
    	</tbody>
    
    </table>
	

 </body>					
</html>
