<form method="POST"  action="http://localhost:3000/loginemployee/apply">
    <div><html>

        
              <p>Please fill in this form.</p>
              <hr>
              <label for="name"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" name="name" id="name" required>
          
             <br>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>
              <br>
              
              
              <label for="phoneno"><b>Phoneno</b></label>
              <input type="phoneno" placeholder="Enter number" name="phoneno" required>
              <br>
              <label for="experience"><b>Experience</b></label>
              <input type="experience" placeholder="Enter address" name="experience" required>
              <br>
              <label for="skills"><b>skills</b></label>
              <input type="skills" placeholder="Enter skills" name="skills" required>
              <br>
       
        
      
    </div>
    <div>
      <button>Submit</button>
    </div>