<form method="post" enctype="multipart/form-data" action="http://localhost:3000/login/apply">
    <div><html>

        
              <p>Please fill in this form.</p>
              <hr>
              <label for="Name"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" name="Name" id="Name" >
          
             <br>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email">
              <br>
              
              
              <label for="phoneno"><b>Phoneno</b></label>
              <input type="phoneno" placeholder="Enter number" name="phoneno" >
              <br>
              <label for="adress"><b>Address</b></label>
              <input type="adress" placeholder="Enter address" name="address" >
              <br>
              <label for="skills"><b>skills</b></label>
              <input type="skills" placeholder="Enter skills" name="skills" >
              <br>
       
        
      <label for="resume">Choose file to upload</label>
      <input type="file" id="resume" name="resume"
          accept=".pdf">
    </div>
    <div>
      <button>Submit</button>
    </div>