<html>
<head>
</head>
<body>
 <div><form action="http://localhost:3000/employer/filterjobs" method="GET">
	<button type="submit">list</button></form> 
	<p align="right">   <button type="button" onclick="redirect()">update profile</button> </p>
	<p align="right"> <button type=button onclick="Redirect()">logout</button>	</p>
	
  <button type="button">edit</button>
 <button type="button" onclick="window.location= 'addjob.html' "   >add</button> 
 <button type="button">filter</button>


    		
   

 </body>	<script type = "text/javascript">
 function redirect(){
	 window.location="employerupdate.html";
 }
   
	function Redirect() {
	   window.location = "login.html";
	}

</script>
		
</html>