<html>
<head>
</head>
<body>
 <div><button type="button">list</button></div> <br>
 <div> <button type="button">edit</button></div> </br> 
 <button type="button" formaction="addupdate.html" >add</button> </br> <br>
 <button type="button">filter</button>
<p align="right">   <button type="button" href="employerupdate.html">update profile</button> </p>

 <p align="right"> <button type="button" >logout</button> </p>
 </br></br></br>
    <table align="center">
    	<thead>
    		<tr>
    			<th>Code</th>
    			<th>Company</th>
    			<th >job role</th>
    			<th >experience</th>
    			<th >location</th>
    			<th >posted date</th>
    			
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>null</td>
    			<td>null</td>
    			<td >null</td>
    			<td >null</td>
    			<td >null</td>
    			<td >null</td>
   
    		</tr>
    	</tbody>
    </table>
 </body>					
</html>
