<html>
<head>
</head>
<body>
 <div><form action="http://localhost:3000/loginemployer/listjobs" method="GET"><button type="button">list</button></div></form> <br>
 <div> <button type="button">edit</button></div> </br> 
 <button type="button" formaction="addupdate.html" >add</button> </br> <br>
 <button type="button">filter</button>
<p align="right">   <button type="button" href="employerupdate.html">update profile</button> </p>

 </br>
    <table align="center">
    	<thead>
    		<tr>
    			<th>Code</th>
    			<th>Company</th>
    			<th >job role</th>
    			<th >experience</th>
    			<th >location</th>
    			<th >posted date</th>
    			
    		</tr>
    	</thead>
    	<tbody>
    		
    	</tbody>
    </table>
 </body>	<script type = "text/javascript">
   
	function Redirect() {
	   window.location = "login.html";
	}

</script>
<form  >
<button type=button onclick="Redirect()">logout</button></form>				
</html>