<html>

<form  action="http://localhost:3000/users/registration" method="POST">
    <div class="container">
      <h1>Employee Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="Name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="Name" id="Name" >
  
     <br>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email">
      <br>
      <label for="psw"><b>Password</b></label>
      <input type="text" placeholder="Enter Password" name="psw" id="pws">
      <br>
      
      <label for="phoneno"><b>Phoneno</b></label>
      <input type="phoneno" placeholder="Enter number" name="phoneno" >
      <br>
      <label for="adress"><b>Address</b></label>
      <input type="adress" placeholder="Enter address" name="address" >
      <br>
      <label for="skills"><b>skills</b></label>
      <input type="skills" placeholder="Enter skills" name="skills" >
      <br>
      
       <button type="submit" >Register</button>
    </div>
  <hr>
    
      <p>Already have an account? <a href="login.html">login in</a>.</p>
<script>
  
  
</script>
  </form>
</html>
